NEXTAUTH_SECRET=my_secret

# EZBIZ_BACKEND_API_URL=http://localhost:8080
# NEXT_PUBLIC_EZBIZ_BACKEND_API_URL=http://localhost:8080
# NEXTAUTH_URL=http://localhost:3001

# EZBIZ_BACKEND_API_URL=http://ezbiz-backend:8080
# NEXT_PUBLIC_EZBIZ_BACKEND_API_URL=http://localhost:8080
# NEXTAUTH_URL=http://localhost:3001

EZBIZ_BACKEND_API_URL=http://159.223.51.20:8080
NEXT_PUBLIC_EZBIZ_BACKEND_API_URL=http://159.223.41.20:8080
NEXTAUTH_URL=http://159.223.51.20:3001
