{{ define "title" }}Create Content | Ezbiz Maejiccode{{ end }}
{{ define "styles" }}
  <link rel="stylesheet" href="/assets/css/quill.snow.css" />
{{ end }}
{{ define "scripts" }}
  <script defer src="/assets/js/vendors/htmx.min.js"></script>
  <script defer src="/assets/js/vendors/response-targets.js"></script>
  <script defer src="/assets/js/vendors/highlight.min.js"></script>
  <script defer src="/assets/js/vendors/quill.js"></script>
  <script defer src="/assets/js/update-content.js"></script>
{{ end }}
{{ define "content" }}
  <!-- Page header -->
  <div class="mb-8">
    <h1
      class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold"
    >
      Update Content Information
    </h1>
  </div>
  <div x-data="toast()" class="fixed bottom-0 right-0 m-4">
    <template x-if="show">
      <div
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="transform opacity-0 scale-90"
        x-transition:enter-end="transform opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="transform opacity-100 scale-100"
        x-transition:leave-end="transform opacity-0 scale-90"
        class="bg-white shadow-lg rounded-sm"
      >
        <div
          class="inline-flex min-w-80 px-4 py-2 rounded-sm text-sm border bg-emerald-100 dark:bg-emerald-400/30 border-emerald-200 dark:border-transparent text-emerald-600 dark:text-emerald-500"
        >
          <div class="flex flex-wrap w-full justify-between items-start">
            <div class="flex">
              <svg
                class="w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"
                />
              </svg>
              <div id="toast-success">A successful toast.</div>
            </div>
            <button
              class="opacity-70 hover:opacity-80 ml-3 mt-[3px]"
              @click="closeToast()"
            >
              <div class="sr-only">Close</div>
              <svg class="w-4 h-4 fill-current">
                <path
                  d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"
                />
              </svg>
            </button>
            <div class="w-full bg-gray-200 rounded-full h-1.5 mt-2">
              <div
                class="bg-emerald-300 h-1.5 rounded-full transition-all duration-100 ease-linear"
                :style="`width: ${progress}%`"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
  <script>
    function toast() {
      return {
        show: false,
        progress: 0,
        init() {
          this.show = true;
          this.progress = 0;
          this.runProgress();
        },
        runProgress() {
          let intervalTime = 100; // Interval time in milliseconds
          let totalTime = 5000; // Total time the toast should be visible in milliseconds
          let increment = (intervalTime / totalTime) * 100;

          const interval = setInterval(() => {
            this.progress += increment;
            if (this.progress >= 100) {
              clearInterval(interval);
              setTimeout(() => this.closeToast(), intervalTime); // Wait for the last update before closing
            }
          }, intervalTime);
        },
        closeToast() {
          this.show = false;
          this.progress = 0;
        },
      };
    }
  </script>
  <!-- Start -->
  <!-- <div x-show="open" x-data="{ open: true }" role="alert"> -->
  <!--   <div -->
  <!--     class="inline-flex min-w-80 px-4 py-2 rounded-sm text-sm border bg-rose-100 dark:bg-rose-400/30 border-rose-200 dark:border-transparent text-rose-600 dark:text-rose-400" -->
  <!--   > -->
  <!--     <div class="flex w-full justify-between items-start"> -->
  <!--       <div class="flex"> -->
  <!--         <svg -->
  <!--           class="w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3" -->
  <!--           viewBox="0 0 16 16" -->
  <!--         > -->
  <!--           <path -->
  <!--             d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z" -->
  <!--           /> -->
  <!--         </svg> -->
  <!--         <div>A dangerous toast.</div> -->
  <!--       </div> -->
  <!--       <button -->
  <!--         class="opacity-70 hover:opacity-80 ml-3 mt-[3px]" -->
  <!--         @click="open = false" -->
  <!--       > -->
  <!--         <div class="sr-only">Close</div> -->
  <!--         <svg class="w-4 h-4 fill-current"> -->
  <!--           <path -->
  <!--             d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z" -->
  <!--           /> -->
  <!--         </svg> -->
  <!--       </button> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- End -->

  <div
    class="space-y-10 divide-y divide-gray-900/10 mt-8"
    hx-ext="response-targets"
  >
    <div id="abc"></div>
    <div class="grid grid-cols-1 pt-10 gap-x-8 gap-y-8 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Content Information
        </h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">
          This information will be displayed publicly so be careful what you
          share.
        </p>
      </div>

      <form
        class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2"
        hx-encoding="multipart/form-data"
        hx-put="/admin/contents/update/{{ .ID }}"
        hx-target="#toast-success"
        hx-target-5*="#abc"
        hx-swap="innerHTML"
      >
        <div class="px-4 py-6 sm:p-8">
          <div class="grid w-full grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <!-- ID -->
            <div class="col-span-full">
              <label
                for="id"
                class="block text-sm font-medium leading-6 text-gray-900"
                >ID</label
              >
              <div class="mt-2">
                <input
                  id="id"
                  name="id"
                  value="{{ .ID }}"
                  type="text"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <!-- URL -->
            <div class="col-span-full">
              <label
                for="url"
                class="block text-sm font-medium leading-6 text-gray-900"
                >URL</label
              >
              <div class="mt-2">
                <div
                  class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-600"
                >
                  <span
                    class="flex items-center pl-3 text-gray-500 select-none sm:text-sm"
                    >https://ezbiz.maejiccode.com/</span
                  >
                  <input
                    type="text"
                    name="url"
                    id="url"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="my-company-name"
                  />
                </div>
              </div>
            </div>

            <!-- Title -->
            <div class="col-span-full">
              <label
                for="title"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Title</label
              >
              <div class="mt-2">
                <input
                  id="title"
                  name="title"
                  type="text"
                  placeholder="personal name, company name, etc."
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <!-- Sub Title -->
            <div class="col-span-full">
              <label
                for="subtitle"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Sub Title</label
              >
              <div class="mt-2">
                <input
                  id="subtitle"
                  name="subtitle"
                  type="text"
                  placeholder="business category eg. Tech, Fashion, etc."
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <!-- Color -->
            <div class="col-span-full">
              <label
                for="color"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Color</label
              >
              <div class="mt-2">
                <input
                  id="color"
                  name="color"
                  type="color"
                  class="block w-12 h-8 text-gray-900 border-0 shadow-sm cursor-pointer ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <!-- About -->
            <div class="col-span-full">
              <label
                for="about"
                class="block text-sm font-medium leading-6 text-gray-900"
                >About</label
              >
              <div class="quill-wrap">
                <!-- Create the toolbar container -->
                <div id="toolbar">
                  <span class="ql-formats">
                    <select class="ql-font"></select>
                    <select class="ql-size"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                  </span>
                  <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-header" value="1"></button>
                    <button class="ql-header" value="2"></button>
                    <button class="ql-blockquote"></button>
                    <button class="ql-code-block"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-direction" value="rtl"></button>
                    <select class="ql-align"></select>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-link"></button>
                    <button class="ql-image"></button>
                    <button class="ql-video"></button>
                    <button class="ql-formula"></button>
                  </span>
                  <span class="ql-formats">
                    <button class="ql-clean"></button>
                  </span>
                </div>
                <div id="editor"></div>
              </div>
              <div class="mt-2">
                <textarea
                  id="about"
                  name="about"
                  rows="3"
                  class="hidden w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                ></textarea>
              </div>
            </div>

            <!-- Favicon -->
            <div class="col-span-full">
              <label
                for="favicon"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Icon</label
              >
              <div class="flex items-center mt-2 gap-x-3">
                <div class="w-12 h-12 rounded-full bg-gray-300">
                  <img
                    id="favicon-preview"
                    src="/assets/images/favicon.ico"
                    alt="favicon"
                    class="w-12 h-12 rounded-full"
                  />
                  <!-- <svg -->
                  <!--   class="w-12 h-12 text-gray-300" -->
                  <!--   viewBox="0 0 24 24" -->
                  <!--   fill="currentColor" -->
                  <!--   aria-hidden="true" -->
                  <!-- > -->
                  <!--   <path -->
                  <!--     fill-rule="evenodd" -->
                  <!--     d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" -->
                  <!--     clip-rule="evenodd" -->
                  <!--   /> -->
                  <!-- </svg> -->
                </div>
                <label
                  for="favicon"
                  class="flex bg-primary-600 hover:bg-primary-500 text-white px-4 py-2 outline-none rounded cursor-pointer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 mr-2 fill-white inline"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M23.75 11.044a7.99 7.99 0 0 0-15.5-.009A8 8 0 0 0 9 27h3a1 1 0 0 0 0-2H9a6 6 0 0 1-.035-12 1.038 1.038 0 0 0 1.1-.854 5.991 5.991 0 0 1 11.862 0A1.08 1.08 0 0 0 23 13a6 6 0 0 1 0 12h-3a1 1 0 0 0 0 2h3a8 8 0 0 0 .75-15.956z"
                      data-original="#000000"
                    />
                    <path
                      d="M20.293 19.707a1 1 0 0 0 1.414-1.414l-5-5a1 1 0 0 0-1.414 0l-5 5a1 1 0 0 0 1.414 1.414L15 16.414V29a1 1 0 0 0 2 0V16.414z"
                      data-original="#000000"
                    />
                  </svg>
                  Upload
                  <input
                    type="file"
                    id="favicon"
                    name="favicon"
                    accept=".ico"
                    class="hidden"
                  />
                </label>
              </div>
            </div>

            <!-- Profile Image -->
            <div class="col-span-full">
              <label
                for="profileImage"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Profile Iamge</label
              >
              <div class="flex items-center mt-2 gap-x-3">
                <div class="w-24 h-24 rounded-full bg-gray-300">
                  <img
                    id="profileImage-preview"
                    src="/assets/images/favicon.ico"
                    alt="favicon"
                    class="w-24 h-24 rounded-full"
                  />
                </div>
                <label
                  for="profileImage"
                  class="flex bg-primary-600 hover:bg-primary-500 text-white px-4 py-2 outline-none rounded cursor-pointer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 mr-2 fill-white inline"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M23.75 11.044a7.99 7.99 0 0 0-15.5-.009A8 8 0 0 0 9 27h3a1 1 0 0 0 0-2H9a6 6 0 0 1-.035-12 1.038 1.038 0 0 0 1.1-.854 5.991 5.991 0 0 1 11.862 0A1.08 1.08 0 0 0 23 13a6 6 0 0 1 0 12h-3a1 1 0 0 0 0 2h3a8 8 0 0 0 .75-15.956z"
                      data-original="#000000"
                    />
                    <path
                      d="M20.293 19.707a1 1 0 0 0 1.414-1.414l-5-5a1 1 0 0 0-1.414 0l-5 5a1 1 0 0 0 1.414 1.414L15 16.414V29a1 1 0 0 0 2 0V16.414z"
                      data-original="#000000"
                    />
                  </svg>
                  Upload
                  <input
                    type="file"
                    id="profileImage"
                    name="profileImage"
                    accept="image/*"
                    class="hidden"
                  />
                </label>
              </div>
            </div>

            <!-- Background Image -->
            <div class="col-span-full">
              <label
                for="backgroundImage"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Background Image</label
              >
              <div
                class="flex justify-center px-6 py-10 mt-2 border border-dashed rounded-lg border-gray-900/25"
              >
                <div
                  id="background-image-preview"
                  class="w-full h-48 hidden relative"
                >
                  <img
                    id="backgroundImage-preview"
                    src="/assets/images/favicon.ico"
                    alt="favicon"
                    class="w-full h-full object-cover rounded-lg"
                  />
                  <button
                    id="background-image-remove"
                    type="button"
                    class="absolute top-0 right-0 p-1 bg-red-500 rounded-full hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
                  >
                    <!-- close -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-6"
                      viewBox="0 0 24 24"
                      fill="white"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M3.293 4.707a1 1 0 011.414 0L12 10.586l7.293-7.293a1 1 0 111.414 1.414L13.414 12l7.293 7.293a1 1 0 01-1.414 1.414L12 13.414l-7.293 7.293a1 1 0 01-1.414-1.414L10.586 12 3.293 4.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div id="background-image-upload" class="text-center">
                  <svg
                    class="w-12 h-12 mx-auto text-gray-300"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <div
                    class="flex justify-center mt-4 text-sm leading-6 text-gray-600"
                  >
                    <label
                      for="backgroundImage"
                      class="relative font-semibold text-indigo-600 bg-white rounded-md cursor-pointer focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
                    >
                      <span>Upload a file</span>
                      <input
                        id="backgroundImage"
                        name="backgroundImage"
                        type="file"
                        accept="image/*"
                        class="sr-only"
                      />
                    </label>
                  </div>
                  <p class="text-xs leading-5 text-gray-600">
                    PNG, JPG, GIF up to 10MB
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex items-center justify-end px-4 py-4 border-t gap-x-6 border-gray-900/10 sm:px-8"
        >
          <button
            type="submit"
            class="px-3 py-2 text-sm font-semibold text-white bg-primary-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Save Content
          </button>
        </div>
      </form>
    </div>

    <div class="grid grid-cols-1 pt-10 gap-x-8 gap-y-8 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Contact Information
        </h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">
          This information will be displayed publicly so be careful what you
          share.
        </p>
      </div>

      <form
        class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2"
      >
        <div class="px-4 py-6 sm:p-8">
          <div
            class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
          >
            <!-- Phone Number -->
            <div class="col-span-full">
              <label
                for="url"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Phone Number</label
              >
              <div class="mt-2">
                <div
                  class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-600"
                >
                  <span
                    class="flex items-center pl-3 text-gray-500 select-none sm:text-sm"
                    >+6</span
                  >
                  <input
                    type="text"
                    name="phoneNumber"
                    id="phoneNumber"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>

            <!-- SMS -->
            <div class="col-span-full">
              <label
                for="sms"
                class="block text-sm font-medium leading-6 text-gray-900"
                >SMS</label
              >
              <div class="mt-2">
                <div
                  class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-600"
                >
                  <span
                    class="flex items-center pl-3 text-gray-500 select-none sm:text-sm"
                    >+6</span
                  >
                  <input
                    type="text"
                    name="sms"
                    id="sms"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>

            <!-- Email -->
            <div class="col-span-full">
              <label
                for="email"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Email</label
              >
              <div class="mt-2">
                <input
                  id="email"
                  name="email"
                  type="email"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <!-- WhatsApp -->
            <div class="col-span-full">
              <label
                for="whatsapp"
                class="block text-sm font-medium leading-6 text-gray-900"
                >WhatsApp</label
              >
              <div class="mt-2">
                <div
                  class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-600"
                >
                  <span
                    class="flex items-center pl-3 text-gray-500 select-none sm:text-sm"
                    >+6</span
                  >
                  <input
                    type="text"
                    name="whatsapp"
                    id="whatsapp"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>

            <!-- Facebook -->
            <div class="col-span-full">
              <label
                for="facebook"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Facebook</label
              >
              <div class="mt-2">
                <div
                  class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-600"
                >
                  <span
                    class="flex items-center pl-3 text-gray-500 select-none sm:text-sm"
                    >https://facebook.com/</span
                  >
                  <input
                    type="text"
                    name="facebook"
                    id="facebook"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>

            <!-- Instagram -->
            <div class="col-span-full">
              <label
                for="instagram"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Instagram</label
              >
              <div class="mt-2">
                <div
                  class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-600"
                >
                  <span
                    class="flex items-center pl-3 text-gray-500 select-none sm:text-sm"
                    >https://instagram.com/</span
                  >
                  <input
                    type="text"
                    name="instagram"
                    id="instagram"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>

            <!-- Messenger -->
            <div class="col-span-full">
              <label
                for="messenger"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Messenger</label
              >
              <div class="mt-2">
                <div
                  class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-600"
                >
                  <span
                    class="flex items-center pl-3 text-gray-500 select-none sm:text-sm"
                    >https://m.me/</span
                  >
                  <input
                    type="text"
                    name="messenger"
                    id="messenger"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>

            <!-- Website -->
            <div class="col-span-full">
              <label
                for="website"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Website</label
              >
              <div class="mt-2">
                <div
                  class="flex w-full rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-600"
                >
                  <span
                    class="flex items-center pl-3 text-gray-500 select-none sm:text-sm"
                    >https://</span
                  >
                  <input
                    type="text"
                    name="website"
                    id="website"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
            </div>

            <!-- Location -->
            <div class="col-span-full">
              <label
                for="location"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Location</label
              >
              <div class="mt-2">
                <input
                  id="location"
                  name="location"
                  type="text"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <!-- Google Maps -->
            <div class="col-span-full">
              <label
                for="google-maps"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Google Maps</label
              >
              <div class="mt-2">
                <input
                  id="google-maps"
                  name="google-maps"
                  type="text"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <!-- Waze -->
            <div class="col-span-full">
              <label
                for="waze"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Waze</label
              >
              <div class="mt-2">
                <input
                  id="waze"
                  name="waze"
                  type="text"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex items-center justify-end px-4 py-4 border-t gap-x-6 border-gray-900/10 sm:px-8"
        >
          <button
            type="submit"
            class="px-3 py-2 text-sm font-semibold text-white bg-primary-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Save Contact
          </button>
        </div>
      </form>
    </div>

    <div class="grid grid-cols-1 pt-10 gap-x-8 gap-y-8 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Gallery</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">
          This information will be displayed publicly so be careful what you
          share.
        </p>
      </div>

      <form
        class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2"
      >
        <div class="px-4 py-6 sm:p-8">
          <div
            class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
          ></div>
        </div>
        <div
          class="flex items-center justify-end px-4 py-4 border-t gap-x-6 border-gray-900/10 sm:px-8"
        >
          <button
            type="submit"
            class="px-3 py-2 text-sm font-semibold text-white bg-primary-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Save Gallery
          </button>
        </div>
      </form>
    </div>
  </div>
{{ end }}
