@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/poppins/Poppins-Black.ttf") format("truetype");
}

.quill-wrap {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.info {
  text-align: center;
  margin-top: 20px;
}
.quill-wrap .ql-active {
  border: 1px solid #ccc !important;
  border-radius: 4px;
}
.quill-wrap button,
.quill-wrap .ql-picker {
  margin-right: 2px;
}

.ql-editor {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  min-height: 200px;
}

.profile-dropdown-leave {
  @apply transition ease-in duration-75 transform opacity-0 scale-95;
}

.profile-dropdown-enter {
  @apply transition ease-out duration-100 transform opacity-100 scale-100;
}

[x-cloak=""] {
  display: none;
}

@media screen and (max-width: theme("screens.lg")) {
  [x-cloak="lg"] {
    display: none;
  }
}
